@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* font-family: 'Bai Jamjuree', sans-serif; */

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.8rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    background-image: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/* Text typography */
.title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -0.046rem;
    color: var(--dark-grayish-blue);
}

.subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: -0.039rem;
    color: var(--dark-grayish-blue);
}

.paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}

  /* ////// */
 /* Header */
/* ////// */
.header {
    width: 82.93%;
    margin: 0 auto;
    padding-top: 12.3rem;
    padding-bottom: 16rem;
}

.header-logo {
    margin: 0 auto;
    margin-bottom: 6.4rem;
}

.header-title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.052rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.6rem;
}

.header-paragraph {
    margin-bottom: 4.8rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 31.1rem;
    margin: 0 auto;
}

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    color: #FFF;
    border-radius: 2.8rem;
    padding: 1.3rem 0;
    width: 100%;
}

.btn:hover,
.btn:focus {
    outline: none;
}

.btn-ios {
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    transition: transform 0.15s ease, background-color 0.15s ease;
    margin-bottom: 2.4rem;
}

.btn-ios:hover,
.btn-ios:focus {
    transform: translateY(-3px) scale(1.03);
    background-color: hsla(171, 66%, 44%, 0.85);
}

.btn-mac {
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    transition: transform 0.15s ease, background-color 0.15s ease;
}

.btn-mac:hover,
.btn-mac:focus {
    transform: translateY(-3px) scale(1.03);
    background-color: hsla(233, 90%, 69%, 0.85);
}


  /* //////////////// */
 /* Snippets section */
/* //////////////// */
.snippets {
    width: 82.93%;
    margin: 0 auto;
    margin-bottom: 18.6rem;
}

.snippets-title {
    margin-bottom: 1.6rem;
}

.snippets-paragraph {
    margin-bottom: 6.5rem;
}

.snippets-image {
    width: 100%;
    margin-bottom: 5.6rem;
}

.snippets-info-subtitle {
    margin-bottom: 1rem;
}

.snippets-info-paragraph {
    margin-bottom: 4.8rem;
}

  /* ////////////// */
 /* Access section */
/* ////////////// */
.access {
    margin-bottom: 9.77rem;
}

.access-container {
    width: 82.93%;
    margin: 0 auto;
}

.access-title {
    margin-bottom: 1.6rem;
}

.access-paragraph {
    margin-bottom: 6.1rem;
}

.access-image {
    width: 93%;
    margin: 0 auto;
}

  /* //////////////// */
 /* Workflow section */
/* //////////////// */
.workflow {
    width: 82.93%;
    margin: 0 auto;
    margin-bottom: 13.1rem;
}

.workflow-title {
    margin-bottom: 1.1rem;
}

.workflow-paragraph {
    margin-bottom: 9rem;
}

.workflow-image {
    margin: 0 auto;
    margin-bottom: 4rem;
}

.workflow-info-subtitle {
    margin-bottom: 1.8rem;
}

.workflow-info-paragraph {
    margin-bottom: 5.6rem;
}

  /* ///////////////// */
 /* Companies section */
/* ///////////////// */
.companies {
    margin-bottom: 17rem;
}

.company {
    margin: 0 auto;
    margin-bottom: 6.3rem;
}
.google-logo {
    width: 13.9rem;
}

.ibm-logo {
    width: 12.1rem;
}

.microsoft-logo {
    width: 13.5rem;
}

.hp-logo {
    width: 11.3rem;
}

.vector-graphics-logo {
    width: 10.5rem;
}

/* /////////////// */
/* iOS Mac section */
/* /////////////// */
.ios-mac {
    width: 82.93%;
    margin: 0 auto;
    margin-bottom: 17rem;
}

.ios-mac-title {
    margin-bottom: 1.6rem;
}

.ios-mac-paragraph {
    margin-bottom: 4.6rem;
}

/* ////// */
/* Footer */
/* ////// */
.footer {
    background-color: hsla(202, 11%, 66%, 0.12);
    mix-blend-mode: normal;
    padding: 5.2rem 0;
}

.footer-logo {
    width: 5.5rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.footer-links {
    margin-bottom: 4.8rem;
}

.footer-link {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.014rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 2rem;
    transition: color 0.12s ease;
}

.footer-link:focus,
.social-link:focus {
    outline: none;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--strong-cyan);
}

.social-links {
    width: 15.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link svg {
    transition: transform 0.15s ease;
}

.social-link:hover svg,
.social-link:focus svg {
    transform: scale(1.1);
}

.social-link path {
    transition: fill 0.15s ease;
}

.social-link:hover path,
.social-link:focus path {
    fill: var(--strong-cyan);
}

.attribution {
    display: none;
}

  /* ///////////// */
 /* Media queries */
/* ///////////// */
@media (min-width: 768px) {
    body {
        background-image: url('./images/bg-header-desktop.png');
    }

    /* Typography */
    .title {
        font-size: 3.6rem;
        line-height: 4.5rem;
        letter-spacing: -0.059rem;
    }

    .paragraph {
        line-height: 3rem;
    }

    .snippets-paragraph,
    .access-paragraph,
    .workflow-paragraph,
    .ios-mac-paragraph {
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: 0.014px;
    }

    /* Header */
    .header {
        width: 92%;
        padding-top: 12.8rem;
        padding-bottom: 15rem;
    }

    .header-logo {
        margin-bottom: 5.6rem;
    }

    .header-title {
        font-size: 4.6rem;
        line-height: 5.75rem;
        letter-spacing: -0.075rem;
    }

    .header-paragraph {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.015rem;
        max-width: 58ch;
        margin: 0 auto;
        margin-bottom: 4.8rem;
    }

    .btn-container {
        flex-direction: row;
        align-items: center;
        max-width: 47rem;
        gap: 1.6rem;
    }

    .btn-ios {
        margin-bottom: 0;
    }

    /* Snippets section */
    .snippets {
        width: 95%;
        max-width: 79.7rem;
        margin-bottom: 15rem;
    }

    .snippets-title {
        margin-bottom: 1.9rem;
    }

    .snippets-paragraph {
        max-width: 62ch;
        margin: 0 auto;
        margin-bottom: 8rem;
    }

    .snippets-container {
        display: flex;
        align-items: center;
    }

    .snippets-image {
        margin-bottom: 0;
        width: 75.2rem;
        margin-left: -350px;
    }

    .snippets-info {
        text-align: left;
        max-width: 35.8rem;
        margin-left: 3rem;
        margin-top: 2.3rem;
    }

    .snippets-info-subtitle {
        margin-bottom: 0.8rem;
    }

    .snippets-info-paragraph {
        margin-bottom: 5.6rem;
    }

    /* Access section */
    .access {
        margin-bottom: 7.1rem;
    }
    .access-title {
        margin-bottom: 1.9rem;
    }

    .access-paragraph {
        max-width: 63ch;
        margin: 0 auto;
        margin-bottom: 10rem;
    }

    .access-image {
        max-width: 90.5rem;
    }

    /* Workflow section */
    .workflow {
        width: 92%;
        margin-bottom: 10.2rem;
    }
    .workflow-title {
        margin-bottom: 1.9rem;
    }

    .workflow-paragraph {
        margin-bottom: 7.2rem;
    }

    .workflow-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        max-width: 112rem;
        margin: 0 auto;
    }

    .info-container:nth-of-type(2),
    .info-container:nth-of-type(3) {
        margin-top: 0.4rem;
    }

    .text-snippets-image,
    .sneak-preview-image {
        margin-bottom: 4.4rem;
    }

    /* Companies section */
    .companies {
        display: flex;
        align-items: center;
        width: 95%;
        max-width: 121rem;
        margin: 0 auto;
        margin-bottom: 15.6rem;
    }

    .company {
        margin-bottom: 0;
    }

    /* iOS Mac section */
    .ios-mac {
        margin-bottom: 15rem;
    }
    .ios-mac-title {
        margin-bottom: 1.9rem;
    }

    .ios-mac-paragraph {
        max-width: 62ch;
        margin: 0 auto;
        margin-bottom: 4.75rem;
    }

    /* Footer */
    .footer {
        padding-top: 3.7rem;
        padding-bottom: 1rem;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93%;
        max-width: 111rem;
        margin: 0 auto;
        margin-bottom: 2.1rem;
    }

    .footer-logo,
    .footer-links,
    .footer-link,
    .social-links {
        margin: 0;
    }

    .footer-links {
        display: flex;
        gap: 3rem;
        text-align: left;
    }

    .link-container .footer-link:first-of-type {
        margin-bottom: 1.2rem;
    }

    .social-links {
        width: 12rem;
    }

    .attribution { 
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center; 
        color: var(--dark-grayish-blue);
    }
    
    .attribution a { 
        color: var(--light-blue);
    }

    .attribution a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 1025px) {
    /* Snippets section */
    .snippets {
        max-width: 97.7rem;
    }
    
    .snippets-image {
        margin-left: -262px;
    }

    .snippets-info {
        margin-left: 7rem;
    }

    /* Companies section */
    .google-logo {
        width: 16.5rem;
    }

    .ibm-logo {
        width: 14rem;
    }
    
    .microsoft-logo {
        width: 16rem;
    }

    .hp-logo {
        width: 13.4rem;
    }

    .vector-graphics-logo {
        width: 12.5rem;
    }

    /* Footer */
    .footer-links {
        margin-right: 18rem;
        gap: 8.5rem;
    }
}

@media (min-width: 1201px) {
    .snippets-info {
        margin-left: 11rem;
    }
}