@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* font-family: 'Bai Jamjuree', sans-serif; */

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.8rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    background-image: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

  /* ////// */
 /* Header */
/* ////// */
.header {
    width: 82.93%;
    margin: 0 auto;
    padding-top: 12.3rem;
    padding-bottom: 16rem;
}

.header-logo {
    margin: 0 auto;
    margin-bottom: 6.4rem;
}

.header-title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.052rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.6rem;
}

.header-paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
    margin-bottom: 4.8rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 31.1rem;
    margin: 0 auto;
}

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    color: #FFF;
    border-radius: 2.8rem;
    padding: 1.3rem 0;
    width: 100%;
}

.btn:hover,
.btn:focus {
    outline: none;
}

.btn-ios {
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    transition: transform 0.15s ease, background-color 0.15s ease;
    margin-bottom: 2.4rem;
}

.btn-ios:hover,
.btn-ios:focus {
    transform: translateY(-3px) scale(1.03);
    background-color: hsla(171, 66%, 44%, 0.85);
}

.btn-mac {
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
    transition: transform 0.15s ease, background-color 0.15s ease;
}

.btn-mac:hover,
.btn-mac:focus {
    transform: translateY(-3px) scale(1.03);
    background-color: hsla(233, 90%, 69%, 0.85);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    body {
        background-image: url('./images/bg-header-desktop.png');
    }

    .header {
        width: 92%;
        padding-top: 12.8rem;
        padding-bottom: 15rem;
    }

    .header-logo {
        margin-bottom: 5.6rem;
    }

    .header-title {
        font-size: 4.6rem;
        line-height: 5.75rem;
        letter-spacing: -0.075rem;
    }

    .header-paragraph {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.015rem;
        max-width: 58ch;
        margin: 0 auto;
        margin-bottom: 4.8rem;
    }

    .btn-container {
        flex-direction: row;
        align-items: center;
        max-width: 47rem;
        gap: 1.6rem;
    }

    .btn-ios {
        margin-bottom: 0;
    }
}

  /* //////////////// */
 /* Snippets section */
/* //////////////// */
.snippets {
    width: 82.93%;
    margin: 0 auto;
    margin-bottom: 18.6rem;
}

.snippets-title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -0.046rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.6rem;
}

.snippets-paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
    margin-bottom: 6.5rem;
}

.snippets-image {
    width: 100%;
    margin-bottom: 5.6rem;
}

.snippets-info-title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: -0.039rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1rem;
}

.snippets-info-paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
    margin-bottom: 4.8rem;
}

  /* ////////////// */
 /* Access section */
/* ////////////// */
.access {
    width: 82.93%;
    margin: 0 auto;
    margin-bottom: 11.44rem;
}

.access-title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -0.046rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.6rem;
}

.access-paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
    margin-bottom: 6.4rem;
}

.access-image {
    width: 100%;
}